.site-heading{
    color: blueviolet;

    &:hover{
        color: red;
    }
}


.second-heading{
    color: saddlebrown;

    &:hover{
        background-color: silver;
    }
}

.third-heading{
    color: slateblue;

    &:hover{
        background-color: springgreen;
    }
}


